/**
 * Your CSS goes here.
 */
.madLibsEdit p,
.madLibsPreview p {
  display: inline-block;
  padding: 2px;
}
body {
  background: rgb(142, 219, 97);
  background: linear-gradient(
    90deg,
    rgba(142, 219, 97, 0.8449754901960784) 34%,
    rgba(250, 240, 110, 0.7777485994397759) 100%
  );
}
.texts {
  margin-top: 150px;
}
input:hover {
  background: lightcoral;
}
input {
  width: 80px;
}
