/**
 * Your CSS goes here.
 */
.madLibsEdit p,
.madLibsPreview p {
  display: inline-block;
  padding: 2px;
}
.madLibsEdit input {
  margin-left: 10px;
}
body {
  background: rgb(142, 219, 97);
  background: linear-gradient(
    90deg,
    rgba(142, 219, 97, 0.8449754901960784) 34%,
    rgba(250, 240, 110, 0.7777485994397759) 100%
  );
}
.texts {
  margin-top: 80px;
}

input:focus {
  background: lightsalmon;
}
.header {
  width: 80px;
  text-align: center;
}
body h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 120px;
  color: red;

  padding-top: 15px;
}
h1 {
  text-align: center;
}

footer {
  background-color: white;
}
footer h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
